* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* -------------------------------------- */
/* ----- BEGIN HEADER / NAVIGATION  ----- */
/* -------------------------------------- */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* -------------------------------------- */
/* ------ END HEADER / NAVIGATION  ------ */
/* -------------------------------------- */

/* -------------------------------------- */
/* ----- BEGIN HERO / MAIN CONTENT  ----- */
/* -------------------------------------- */

.hero {
    height: 1250px;
    width: 100%;
    margin-bottom: 45px;
}

.hero img {
    max-width: 100%;
    object-fit: contain;
}

.float-left {
    float: left;
    margin-right: 40px;
}

.float-right {
    float: right;
    margin-left: 70px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-title {
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-title img {
    max-height: 300px;
    position: center;
}

.content-title h2 {
    margin-bottom: 20px;
    font-size: 40px;
    width: 65%;
}

.content-title p {
    font-size: 20px;
    word-spacing: 5px;
    margin-right: 20px;
    width: 85%;
}

/* -------------------------------------- */
/* ------ END HERO / MAIN CONTENT ------- */
/* -------------------------------------- */

/* -------------------------------------- */
/* ------ BEGIN BENEFITS SIDE BAR ------- */
/* -------------------------------------- */

.benefits {
    margin-right: 20px;
    margin-left: 0px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    text-align: center;
    font-size: 25px;
}

.benefit p {
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
    width: 85%;
}

.benefit img {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}

/* -------------------------------------- */
/* ------- END BENEFITS SIDE BAR -------- */
/* -------------------------------------- */

/* -------------------------------------- */
/* ------------ BEGIN FOOTER  ----------- */
/* -------------------------------------- */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* -------------------------------------- */
/* ------------- END FOOTER  ------------ */
/* -------------------------------------- */
